<configuration>
    <!--
        configured via JVM properties
        -Dlog.path=/path/to/file.log
        -Dlog.level.root=error    #log all events of level INFO
        -Dlog.level.neowit=debug  #log com.neowit.* events of level DEBUG
        -Dlog.stdout.enable=true # enable log to STDOUT
    -->

    <!--
        in order to add new log level
        1. add <define .../> and <logger .../> tags below
        2. add relevant LogbackConfigPropertyDefiner in com.neowit.LogbackConfigPropertyDefiner.scala
    -->

    <!-- configuring logback from application.conf:  http://stackoverflow.com/a/27567950 -->
    <define name="rootLogLevel" class="com.neowit.logging.LogbackConfigPropertyDefinerRoot" />
    <define name="neowitLogLevel" class="com.neowit.logging.LogbackConfigPropertyDefinerNeowit" />
    <!--<define name="stdoutLogLevel" class="com.neowit.apexscanner.LogbackConfigPropertyDefinerStdOut" /> -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- only events of allowed level can be sent to STDOUT -->
        <!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${stdoutLogLevel:-error}</level>
        </filter>
        -->
        <!-- control if/when log to STDOUT is allowed -->
        <filter class="com.neowit.logging.LogbackStdOutFilter" />
        <!--
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M \(%L\) - %msg%n</pattern>
        </encoder>
        -->
        <encoder>
            <!-- https://logback.qos.ch/manual/layouts.html#conversionWord -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}[%line] => %msg%n %ex</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="com.neowit.logging.DelayedRollingFileAppender">
        <file>${log.path:-apexscanner.log}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M %L - %msg%n %ex</pattern>
        </encoder>
    </appender>

    <logger name="com.neowit" level="${neowitLogLevel:-debug}"/>

    <root level="${rootLogLevel:-info}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
